.DS_Store
vim/bundle/nerdtree/
vim/bundle/vim-colors-solarized/
vim/bundle/vim-fugitive/
vim/bundle/vim-ruby/
vim/bundle/L9/
vim/bundle/FuzzyFinder/
vim/bundle/bufexplorer.zip/

# deny backup and swap files
*~
*.*~
*.swp
*.swo

vim/backup/*
vim/tmp/*
.netrwhist
