[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/googleclosure"]
	path = vim/bundle/googleclosure
	url = git://github.com/batsuev/google-closure-vim.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git://github.com/batsuev/vim-javascript.git
[submodule "vim/bundle/golang"]
	path = vim/bundle/golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "vim/bundle/csscomb-vim"]
	path = vim/bundle/csscomb-vim
	url = https://github.com/batsuev/csscomb-vim.git
[submodule "vim/bundle/vim-figutive"]
	path = vim/bundle/vim-figutive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/zencoding"]
	path = vim/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/snipmate-snippets"]
	path = vim/bundle/snipmate-snippets
	url = https://github.com/scrooloose/snipmate-snippets.git
