[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/googleclosure"]
	path = vim/bundle/googleclosure
	url = git://github.com/batsuev/google-closure-vim.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git://github.com/batsuev/vim-javascript.git
[submodule "vim/bundle/golang"]
	path = vim/bundle/golang
	url = https://github.com/jnwhiteh/vim-golang.git
